.w-alert {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: #fff;
    z-index: 10000;
    .alert-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 82px 0 120px;
        height: 96px;
        .main-logo-image {
            width: 280px;
            height: 96px;
            cursor: pointer;
        }
        .main-close-image {
            width: 96px;
            height: 96px;
            cursor: pointer;
        }
    }
    .alert-content {
        height: calc(100% - 96px);
        position: relative;
        .bg-logo-image {
            width: 538PX;
            height: 668PX;
            margin-left: -120px;
            margin-top: 50px;
        }
        .alert-box {
            position: absolute;
            left: 120px;
            top: 0;
            width: calc(100% - 240px);
            height: 100%;
            display: flex;
            justify-content: space-between;
            .alert-box-left {
                display: flex;
                justify-content: space-between;
                flex-direction: column;
                padding-bottom: 76px;
                .alert-box-left-top {
                    height: 40%;
                    display: flex;
                    align-items: flex-end;
                    font-size: 24px;
                    letter-spacing: 16px;
                }
                .alert-box-left-bottom {
                    .alert-box-left-bottom-text3 {
                        opacity: 0.5;
                        letter-spacing: 4px;
                    }
                    .alert-box-left-bottom-text2 {
                        margin: 8px 0 24px;
                        opacity: 0.3;
                    }
                    .alert-box-left-bottom-text1 {
                        opacity: 0.3;
                    }
                }
            }
            .alert-box-right {
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                .alert-box-right-box {
                    margin-top: -80%;
                }
                .alert-tab-box {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-bottom: 40px;
                    font-weight: bold;
                    .alert-tab-text {
                        opacity: 0.3;
                        font-size: 24px;
                        text-align: right;
                        width: 120px;
                        cursor: pointer;
                    }
                    .alert-tab-text-active {
                        opacity: 1;
                    }
                    .alert-tab-line {
                        height: 2px;
                        width: 40px;
                        background: #333;
                        margin-left: 62px;
                        opacity: 0;
                    }
                    .alert-tab-line-active {
                        opacity: 1;
                    }
                }
                .alert-tab-box:hover .alert-tab-text {
                    opacity: 1;
                }
            }
        }
    }
}