.investment-box {
  // position: relative;
  height: 100%;
  width: 100%;
  background-image: url('../../assets/images/bg-logo.png');
  background-size: 538PX 668PX;
  background-repeat: no-repeat;
  background-position: center;
  .investment-bg-logo {
    width: 538px;
    position: absolute;
    left: 50%;
    top: 20px;
    transform: translateX(-50%);
  }
  .investment-container {
    // position: absolute;
    // left: 0;
    // top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    .investment-title {
      text-align: center;
      margin-top: 96px;
      .investment-title-top {
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 12px;
      }
      .investment-title-bottom {
        font-size: 16px;
        opacity: 0.2;
        margin-bottom: 70px;
      }
    }
    .investment-img-box {
      padding: 0 120px;
      margin-bottom: 80px;
      .investment-img-li {
        position: relative;
        margin-right: 24px;
        cursor: pointer;
        .investment-img {
          height: 176px;
          box-shadow: 0 4px 24px 0 rgba(0,0,0,0.08);
        }
        .investment-img-active {
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          z-index: -1;
          opacity: 0;
          transition: opacity 0.2s;
        }
        .look-case {
          position: absolute;
          right: 24px;
          bottom: 20px;
          display: flex;
          align-items: center;
          z-index: -1;
          opacity: 0;
          transition: opacity 0.2s;
          img {
            width: 40px;
            margin-right: 18.8px;
            animation: checkCase 0.5s linear infinite alternate;
            -moz-animation: checkCase 0.5s linear infinite alternate;
            -o-animation: checkCase 0.5s linear infinite alternate;
            -webkit-animation: checkCase 0.5s linear infinite alternate;
          }
          @keyframes checkCase {
            from {
              margin-right: 18.8px;
            }
            to {
              margin-right: 10px;
            }
          }
          @-webkit-keyframes checkCase {
            from {
              margin-right: 18.8px;
            }
            to {
              margin-right: 10px;
            }
          }
          @-moz-keyframes checkCase {
            from {
              margin-right: 18.8px;
            }
            to {
              margin-right: 10px;
            }
          }
          @-o-keyframes checkCase {
            from {
              margin-right: 18.8px;
            }
            to {
              margin-right: 10px;
            }
          }
          .look-case-text {
            color: #fff;
            font-size: 16px;
          }
        }
      }
      .investment-img-li:nth-child(3n+0) {
        margin-right: 0;
      }
      .investment-img-li:hover .investment-img-active {
        z-index: 1;
        opacity: 1;
      }
      .investment-img-li:hover .look-case {
        z-index: 2;
        opacity: 1;
      }
      .investment-img-li-box {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-bottom: 24px;
      }
    }
  }
}
.w-footer {
  z-index: 100;
}